body{	
	background-image: url("../foto/s3.jpg");	
	background-repeat: no-repeat;	
}
div#filtro{
	font-size: large;
	font-weight: bold;
}
img{
	padding-bottom: 50px;
}
span{
	font-size: xx-large;
	font-style: italic;
	font-weight: bold;
	
	margin-top: 10px;
}

 .filtracamere{
padding-left: 0%;
margin-left: 600px;
	border-style: solid;
    width:20%;
    }
    
  input{
    background: rgba(255,255,255,0.5);
    width: 200px;
}
#login{background-color:white; }
#cerca{
 
}
select{
  border: 2px solid black;  
}
#loginP{
	font-size: large;
	font-weight: bold;
	padding-top: 0px;
	color: black;
}
#regD{
	font-size: large;
	font-weight: bold;
	color: black;
	padding-top: 50px;
}
